@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: #f1f0f0;
  overflow: hidden;
}

.bgpink {
  background-image: linear-gradient(120deg, #ff758c 0%, #ff7eb3 100%);
  color: white;
  border: 0px;
}

.bggreen {
  background-image: linear-gradient(120deg, #43e97b 0%, #38f9d7 100%);
  color: white;
  border: 0px;
}

.bgblue {
  background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%);
  color: white;
  border: 0px;
}

.bgred {
  background-image: linear-gradient(120deg, #ff0844 0%, #ffb199 100%);
  color: white;
  border: 0px;
}

.bgpurplered {
  background-image: linear-gradient(120deg, #00dbde 0%, #fc00ff 100%);
  color: white;
  border: 0px;
}
